<div class="text  text-center text-justify">
  <h3>
    <b>Introdução</b>
  </h3>
  <h5>
    <p>
      Este documento apresenta a especificação de requisitos para a informatização do processo de gerenciamento em unidades de
      saúde, afim de, atingir metas determinadas pelo governo nos atendimentos de dois tipos de exames, são eles mastologia
      e citopatologico.
    </p>
  </h5>
  <h3>
    <b>Propósito do Sistema</b>
  </h3>
  <h5>
    <p>
      Sistema será utilizado para solucionar o problema no controle de dados em unidades de saúde os quais são feitos de forma
      manual atualmente. Em específico o sistema Gerenciador de Exames irá auxiliar no gerenciamento dos exames de citopatologia
      e mastologia inicialmente. Facilitando para que os enfermeiros das unidades de saúde tenham um maior controle das informações
      dos pacientes em suas respectivas micro áreas minimizando a falta de atendimento a diversos pacientes. Com isso possibilitando
      o cumprimento de metas estabelecidas.
    </p>
  </h5>

  <h3>
    <b>Metodologia
    </b>
  </h3>
  <h5>
    <p>
      Em se tratando de metodologia para desenvolvimento serão utilizados pequenos fragmentos de algumas das mais eficientes metodologias
      de desenvolvimento ágeis da atualidade, sendo as escolhidas para o processo Scrum juntamente com Kanban, visando uma
      entrega contínua de partes do sistema.
    </p>
  </h5>
  <h3>
    <b> Desenvolvimento</b>
  </h3>
  <h5>
    <p>
      Para o desenvolvimento deste sistema serão utilizadas as tecnologias que estão em alta atualmente no mercado. Será utilizado
      NodeJS com o seu framework Express para todo o BackEnd. O FrontEnd utilizará de diversas tecnologias como CSS e HTML5
      utilizando alguns conceitos de SPA, e alguns dos frameworks mais utilizados atualmente para trabalhar com a camada
      de visão do usuário (interface), ex: Angular.
    </p>
  </h5>
</div>
