<div class="text-center">
  <div class="row">
    <h3>
      <label class="text-info font-weight-bold">Buscar Pacientes</label>
    </h3>
  </div>
  <!-- <div class="row">
    <button type="button" ng-click="getAllMicroareas()">Atualizar Microáreas</button>
  </div> -->

  <br/>
  <!-- Style to make a border in divs hehe style="border-width: 1px;border-style: dotted;border-color: black" -->
  <div class="row" ng-repeat="mArea in listMicroAreas">
    <div class="table table-responsive">
      <div class="col-md-6 text-center">
        <h4>
          <b>Microárea:</b> {{mArea.NOME_MICROAREA}}</h4>
      </div>
      <div class="col-md-6" style="display: flex;align-items: center;justify-content: center;">
        <button type="button" ng-click="buscarPacientes(mArea)" class="btn btn-primary">Buscar Pacientes</button>
      </div>
    </div>
  </div>
  <div class="text-center" ng-show="!foramEncontradasMicroares">
    <span class="text text-center text-danger">Nenhuma Microárea cadastrada.</span>
  </div>
</div>




<br />
<br />
<!-- CASO NÃO ENCONTRE NENHUM PACIENTE NA MICROÁREA -->
<div ng-show="listPacientesNenhumEncontrado" class="text-center">
  <div class="row">
    <h4>
      <span class="text text-danger">
        <b>Aviso:</b> Nenhum paciente cadastrado para esta Microárea!</span>
    </h4>
  </div>
  <div class="row text-center">
    <button class="btn btn-primary" ng-click="adicionarPaciente()">Adicionar novo paciente em: {{microAreaBuscada.NOME_MICROAREA}}</button>
  </div>
</div>

<!-- CASO ENCONTRE PACIENTE NA MICROÁREA -->
<div ng-if="listPacientesFoiEncontrado" class="text-center">
  <div class="row">

    <h3>
      <label class="text-info font-weight-bold">Pacientes da Microárea: {{microAreaBuscada.NOME_MICROAREA}} </label>
    </h3>
    <br />
    <div class="table-responsive layout-align-center">
      <div class="row">
        <div class="col-md-2">
          <b>Codigo</b>
        </div>
        <div class="col-md-2">
          <b>Nome</b>
        </div>
        <div class="col-md-2">
          <b>Endereço</b>
        </div>
        <div class="col-md-2">
          <b>Prioridade</b>
        </div>
        <div class="col-md-2">
          <!-- <b>Editar</b> -->
        </div>
        <div class="col-md-2">
          <!-- <b>Deletar</b> -->
        </div>
      </div>
      <div class="table table-bordered" ng-repeat="paciente in listPacientesMicroarea">
        <div class="row">
          <div class="col-md-2 text text-center">
            {{paciente.id}}
          </div>
          <div class="col-md-2 text text-center">
            {{paciente.NOME_PACIENTE}}
          </div>
          <div class="col-md-2 text text-center">
            Rua {{paciente.RUA}}, {{paciente.NUMERO}} - Bairro {{paciente.BAIRRO}}
          </div>
          <div class="col-md-2 text text-center" ng-show="paciente.EM_PRIORIDADE == 1">
            <span class="text text-danger text-uppercase font-weight-bold">
              EM PRIORIDADE
            </span>
          </div>
          <div class="col-md-2 text text-center" ng-show="paciente.EM_PRIORIDADE == 0">
            <span class="text text-success text-uppercase font-weight-bold">
              FORA DE PRIORIDADE
            </span>
          </div>
          <div class="col-md-2 text text-center">
            <span class="text text-success text-uppercase font-weight-bold">
              EDITAR
            </span>
          </div>
          <div class="col-md-2 text text-center">
            <span class="text text-success text-uppercase font-weight-bold">
              DELETAR
            </span>
          </div>
        </div>
      </div>
    </div>

    <br/>

    <div class="row text-center">
      <button class="btn btn-primary" ng-click="adicionarPaciente()">Adicionar novo paciente em: {{microAreaBuscada.NOME_MICROAREA}}</button>
    </div>

  </div>
</div>

<br/>
<br/>

<div ng-show="addPaciente">
  MICROAREA {{microAreaBuscada.NOME_MICROAREA}}
  <div class="container">
      <div class="row">
        <h1> Cadastre-se</h1>
        <hr>
      </div>

      <div class="row">

      <div class="col-md-3">
        Cadastre seus dados no formulário ao lado para finalizar sua compra conosco!
      </div>

      <div class="col-md-9">
        <form>
          <div class="form-group">
            <label for="nome_completo">* Digite seu nome completo:</label>
            <input type="text" class="form-control" name="nome_completo" required>
          </div>

          <div class="form-group">
            <label for="email">* Informe seu e-mail:</label>
            <input type="email" class="form-control" name="mail" required>
          </div>

          <!-- Agora vou sub-dividir esta coluna em outras três -->
          <div class="container-fluid">
            <div class="col-md-4">
              <div class="form-group">
                <label for="idade">Informe sua idade:</label>
                <input type="number" class="form-control" name="idade" min="18" max="110" required>
              </div>
              <div class="form-group">
                <label for="genero">Informe seu género sexual:</label><br/>
                <input type="radio" name="genero" value="masculino"> Masculino<br/>
                <input type="radio" name="genero" value="feminino"> Feminino
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="data_pgto">Informe a melhor data para pagamento:</label>
                <input type="date" class="form-control" name="data_pgto"  required>
              </div>
              <div class="form-group">
                <label for="conheceu">Como conheceu nosso site?</label><br/>
                <input type="checkbox" name="google" value="masculino"> Google<br/>
                <input type="checkbox" name="amigos" value="feminino"> Amigos <br/>
                <input type="checkbox" name="revistas_jornais" value="feminino"> Revistas e Jornais <br/>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="cor_favorita">qual a sua cor favorita?</label><br/>
                <input type="color" class="form-control" name="cor_favorita">
              </div>
            </div>
          </div>
          <!-- fim -->

          <div class="form-group" align="center">
            <button type="submit" class="btn btn-lg btn-success">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Enviar dados
            </button>
          </div>


        </form>
      </div>
    </div>

</div>


{{listPacientesMicroarea}}
