<div class="text-center">
  <div class="row">
    <h2>
      <label class="text font-weight-bold">Buscar Pacientes</label>
    </h2>
  </div>
  <!-- <div class="row">
    <button type="button" ng-click="getAllMicroareas()">Atualizar Microáreas</button>
  </div> -->

  <br/>
  <!-- Style to make a border in divs hehe style="border-width: 1px;border-style: dotted;border-color: black" -->
  <div class="row" ng-repeat="mArea in listMicroAreas">
    <div class="table table-responsive">
      <div class="col-md-6 text-center">
        <h4>
          <b>Microárea:</b> {{mArea.NOME_MICROAREA}}</h4>
      </div>
      <div class="col-md-6" style="display: flex;align-items: center;justify-content: center;">
        <button type="button" ng-click="buscarPacientes(mArea)" class="btn btn-primary">
          Buscar Pacientes&nbsp;&nbsp;
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="text-center" ng-show="!foramEncontradasMicroares">
    <h2>
      <span class="text text-center text-danger">Nenhuma Microárea cadastrada.</span>
    </h2>
  </div>
</div>




<br />
<br />
<!-- CASO NÃO ENCONTRE NENHUM PACIENTE NA MICROÁREA -->
<div ng-show="listPacientesNenhumEncontrado" class="text-center">
  <div class="row">
    <h4>
      <span class="text text-danger">
        <b>Aviso:</b> Nenhum paciente cadastrado para esta Microárea!</span>
    </h4>
  </div>
  <div class="row text-center">
    <button class="btn btn-lg btn-primary" ng-click="adicionarPaciente()">Adicionar novo paciente em: {{microAreaBuscada.NOME_MICROAREA}}</button>
  </div>
</div>

<!-- CASO ENCONTRE PACIENTE NA MICROÁREA -->
<div ng-if="listPacientesFoiEncontrado" class="text-center">
  <div class="row">

    <h3>
      <label class="text-info font-weight-bold">Pacientes da Microárea: {{microAreaBuscada.NOME_MICROAREA}} </label>
    </h3>
    <br />
    <div class="table-responsive layout-align-center">
      <!-- <div class="row">
        <div class="col-md-2">
          <b>Codigo</b>
        </div>
        <div class="col-md-2">
          <b>Nome</b>
        </div>
        <div class="col-md-2">
          <b>Endereço</b>
        </div>
        <div class="col-md-2">
          <b>Prioridade</b>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2">

        </div>
      </div> -->
      <div class="table table-bordered" ng-repeat="paciente in listPacientesMicroarea">
        <div class="row">
          <div class="col-md-2 text text-center">
            <b>Codigo: </b> {{paciente.id}}
          </div>
          <div class="col-md-2 text text-center">
            <b>Nome: </b>{{paciente.NOME_PACIENTE}}
          </div>
          <div class="col-md-2 text text-center">
            <b>Endereço: </b> Rua {{paciente.RUA}}, {{paciente.NUMERO}} - Bairro {{paciente.BAIRRO}}
          </div>
          <div class="col-md-2 text text-center" ng-show="paciente.EM_PRIORIDADE == 1">
            <span class="text text-danger text-uppercase font-weight-bold">
              <b>Prioridade: </b> EM PRIORIDADE
            </span>
          </div>
          <div class="col-md-2 text text-center" ng-show="paciente.EM_PRIORIDADE == 0">
            <span class="text text-success text-uppercase font-weight-bold">
              <b>Prioridade: </b>FORA DE PRIORIDADE
            </span>
          </div>
          <div class="col-md-2 text text-center">
            <button type="button" class="btn btn-success" ng-click="editarPaciente(paciente)">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Editar</button>
          </div>
          <div class="col-md-2 text text-center">
            <button type="button" class="btn btn-danger" ng-click="deletarPaciente(paciente)">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Deletar</button>
          </div>
        </div>
      </div>
    </div>

    <br/>

    <div class="row text-center">
      <button class="btn btn-lg btn-primary" ng-click="adicionarPaciente()">Adicionar novo paciente em: {{microAreaBuscada.NOME_MICROAREA}}</button>
    </div>

  </div>
</div>

<br/>
<br/>

<div ng-show="formPaciente">

  <div class="container">
    <div class="row text-center">
      <h1> Cadastro de Paciente </h1>
      <p>
        <h1> Microárea:
          <b>{{microAreaBuscada.NOME_MICROAREA}}</b>
        </h1>
      </p>
      <hr>
    </div>

    <div class="row">

      <div class="col-md-3">
        Cadastre os dados no formulário ao lado para adicionar um novo paciente!
      </div>

      <div class="col-md-9">
        <form name="pacienteForm" ng-submit="submitForm(pacienteForm.$valid)" novalidate>
          <div class="form-group">
            <label for="nome_completo">* Nome completo:</label>
            <input ng-model="dataPaciente.NOME_PACIENTE" type="text" class="form-control" name="NOME_PACIENTE" required>
            <p ng-show="pacienteForm.NOME_PACIENTE.$invalid" class="help-block">
              <span class="text-danger">Nome do paciente é obrigatório.</span>
            </p>
          </div>

          <div class="form-group">
            <label for="data_nasc">Data de Nascimento:</label>
            <input ng-model="dataPaciente.DATA_NASC" type="date" class="form-control" name="DATA_NASC" required>
            <p ng-show="pacienteForm.DATA_NASC.$invalid" class="help-block">
              <span class="text-danger">Data de nascimento é obrigatória.</span>
            </p>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="telefone_fixo">* Telefone Principal:</label>
                <input ng-model="dataPaciente.TELEFONE_FIXO" type="text" class="form-control" name="TELEFONE_FIXO" required>
                <p ng-show="pacienteForm.TELEFONE_FIXO.$invalid" class="help-block">
                  <span class="text-danger">Telefone Principal Obrigatório.</span>
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="telefone_celular">* Telefone Secundário:</label>
                <input ng-model="dataPaciente.TELEFONE_CELULAR" type="text" class="form-control" name="TELEFONE_CELULAR" required>
                <p ng-show="pacienteForm.TELEFONE_FIXO.$invalid" class="help-block">
                  <span class="text-danger">Telefone Secundário Obrigatório.</span>
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="rua">* Rua:</label>
                <input ng-model="dataPaciente.RUA" type="text" class="form-control" name="RUA" required>
                <p ng-show="pacienteForm.RUA.$invalid" class="help-block">
                  <span class="text-danger">Por favor, informe a Rua.</span>
                </p>

              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="numero">* Número:</label>
                <input ng-model="dataPaciente.NUMERO" type="text" class="form-control" name="NUMERO" required>
                <p ng-show="pacienteForm.NUMERO.$invalid" class="help-block">
                  <span class="text-danger">Por favor, informe o Número.</span>
                </p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="bairro">* Bairro:</label>
                <input ng-model="dataPaciente.BAIRRO" type="text" class="form-control" name="BAIRRO" required>
                <p ng-show="pacienteForm.BAIRRO.$invalid" class="help-block">
                  <span class="text-danger">Por favor, informe o Bairro.</span>
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="cep">* CEP:</label>
                <input ng-model="dataPaciente.CEP" type="text" class="form-control" name="CEP" required>
                <p ng-show="pacienteForm.CEP.$invalid" class="help-block">
                  <span class="text-danger">Por favor, informe o CEP.</span>
                </p>
              </div>
            </div>
          </div>

          <!-- Agora vou sub-dividir esta coluna em outras três -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="mastologia">Exame Mastologia alterado:</label>
                    <br/>
                    <input type="radio" name="EXAME_MASTOLOGIA_ALTERADO" ng-model="dataPaciente.EXAME_MASTOLOGIA_ALTERADO" value="1"> Sim
                    <br/>
                    <input type="radio" name="EXAME_MASTOLOGIA_ALTERADO" ng-model="dataPaciente.EXAME_MASTOLOGIA_ALTERADO" value="0"> Não
                  </div>
                  <!-- ng-show="mastologiaAlterado" ng-show="varAlteradoMasto"-->
                  <div class="col-sm-6" ng-if="dataPaciente.EXAME_MASTOLOGIA_ALTERADO == '1'">
                    <div class="form-group">
                      <label for="cep">* Descrição:</label>
                      <textarea ng-model="dataPaciente.EXAME_MASTOLOGIA_DESC" type="text" class="form-control" rows="5" name="EXAME_MASTOLOGIA_DESC"
                        required></textarea>
                      <p ng-show="pacienteForm.EXAME_MASTOLOGIA_DESC.$invalid" class="help-block">
                        <span class="text-danger">Por favor, informe a Descrição do resultado.</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="citopatologico">Exame Citopatologico alterado:</label>
                    <br/>
                    <input type="radio" ng-model="dataPaciente.EXAME_CITOPATOLOGICO_ALTERADO" name="EXAME_CITOPATOLOGICO_ALTERADO" value="1"> Sim
                    <br/>
                    <input type="radio" ng-model="dataPaciente.EXAME_CITOPATOLOGICO_ALTERADO" name="EXAME_CITOPATOLOGICO_ALTERADO" value="0"> Não
                  </div>
                  <!-- ng-show="citopatologicoAlterado"  ng-show="varAlteradoCito"-->
                  <div class="col-sm-6" ng-if="dataPaciente.EXAME_CITOPATOLOGICO_ALTERADO == '1'">
                    <div class="form-group">
                      <label for="cep">* Descrição:</label>
                      <textarea ng-model="dataPaciente.EXAME_CITOPATOLOGICO_DESC" type="text" class="form-control" rows="5" name="EXAME_CITOPATOLOGICO_DESC"
                        required> </textarea>
                      <p ng-show="pacienteForm.EXAME_CITOPATOLOGICO_DESC.$invalid" class="help-block">
                        <span class="text-danger">Por favor, informe a Descrição do resultado.</span>
                      </p>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <!-- fim -->
          <div class="row">
            <div class="form-group col-sm-6" align="center" ng-click="clearPaciente()">
              <!-- ng-click="adicionarPacienteFormulario(dataPaciente)" -->
              <button type="button" class="btn btn-lg btn-primary">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> Limpar Campos
              </button>
            </div>

            <div class="form-group col-sm-6" align="center" ng-show="addPaciente">
              <!-- ng-click="adicionarPacienteFormulario(dataPaciente)" -->
              <button type="submit" class="btn btn-lg btn-success" ng-disabled="paciente-form.$invalid">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Adicionar Paciente
              </button>
            </div>

            <div class="form-group col-sm-6" align="center" ng-show="editPaciente">
              <!-- ng-click="atualizarPacienteFormulario(dataPaciente)" -->
              <button type="submit" class="btn btn-lg btn-success" ng-disabled="paciente-form.$invalid">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Atualizar Paciente
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>





  <br/>

  <br/>
  <br/> {{dataPaciente}}
  <br/>
  <br/>
  <br/> {{listPacientesMicroarea}}
  <br/>
  <br/>
